.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(34, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
a {
  color: white;
  font: bolder;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  transition: all 1s ease-in;
}

/* NAV */

nav > a:hover {
  border-bottom: 1px solid white;
}

/* HOME */

.select-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-new > select {
  font-size: 1rem;
  margin: 10px;
}
.select-new > p {
  font-size: 2rem;
  font-weight: 800;
}
/* REGISTER & LOGIN */
form + .google {
  display:flex;
  justify-content: center;
  align-items: center;
}
form {
  margin: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > input {
  font-size: 1.5rem;
  margin: 3vh;
}

.google > button {
  transition:all 250ms cubic-bezier(0.25, 0.46,0.45,0.94) 0s;
}

.google > button:hover {
  transform:scale(1.2)
}

form > button {
  padding: 30px;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 20%;
  transition: all 0.3s ease-in;
  background-color: grey;
  cursor: pointer;
}

form > button:hover {
  transform: scale(1.1);
  background-color: #bdc3c7;
}

/* WIDGETS */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
  justify-content: center;
}
.widgets {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
}

.result {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.result > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultmeteo > div > img {
  height: 15px;
}
